<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
      <mat-toolbar>
          <span>Menú</span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
          <mat-list-item>
              <a [routerLink]="[ '/list']"><span>Listado de Heroes</span></a>
          </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</mat-sidenav-container>